{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=di, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='{% static "css/bootstrap.css"%}'>
    <script src = '{% static "js/bootstrap.js"%}'></script>

</head>
<body>
    <div class="container">
        <table class="table table-bordered border-primary">
        <tr>
            <td>NOMBRE</td>
            <td>APELLIDO</td>
            <td>EDAD</td>
            <td>CELULAR</td>
            <td>FECHA DE NACIMIENTO</td>
            <td>EMAIL</td>
            <td>GENERO</td>
            <td>CEDULA</td>
        </tr>
        </table>
    </div>
</body>
</html>